<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Admin Configure Secret Codes</title>
        
        <!--Font Awesome-->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        
        <!-- Bootstrap Core CSS -->
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />

        <link href="/stylesheets/jquery-ui.css" rel="stylesheet" />

        <link rel="stylesheet" type="text/css" media="screen,projection" href="/stylesheets/fallr.css" />

        <!-- Custom CSS -->
        <link href="/stylesheets/custom.css" rel="stylesheet" />

        <!-- Datables and DatatablesButtons CSS -->
        <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />

        <link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top navbar" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> 
                    <a class="navbar-brand" href="/">
                    <img src="/images/tis.png" width="35" height="36" class="d-inline-block align-top" alt="">
                    
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->

                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <div class="container" style="margin-top: 5%"></div>
            <div class="d-flex justify-content-center" align="center">
                <p>
                    <h3>Enter new Secret Access Code to create</h3>
                </p>
                <div class="text-center" style="display:block; margin-left:auto;margin-right:auto; margin-top:3%; width:40%;">
                    <form>
                        <div class="form-group">
                            <label for="secretCodeField">New Secret Code (AlphaNumeric)</label>
                            <input type="text" class="form-control" id="secretCodeField" aria-describedby="secretCodeHelp" placeholder="New Secret Code (AlphaNumeric)">
                        </div>
                        
                        <a href="#" class="btn btn-primary" style="margin-top:3%;" onClick="let secretCodeFieldValue = $('#secretCodeField').val(); let argData = {secretCode: secretCodeFieldValue}; createSecretCode(argData);">Create Secret Access Code</a>
                    </form>
                </div>
            </div><br /><br />
            
            <div class="d-flex justify-content-center col-md-12" align="center" style="width:100%;">
                <table id="DataTblElement" class="display" style="width:100%;"></table>
            </div><br /><br />
        
            <hr>
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Powered by <a href="http://www.hermesinnovative.com">Hermes Innovative</a> and <a href="https://www.dagasonhackason.com">Dagas Systems Inc.</a></p>
                        
                    </div>
                </div>
            </footer>
        </div>    

        <!-- jQuery -->
        <script src="/javascripts/jquery.js"></script>

        <script src="/javascripts/jquery-ui.js" crossorigin="anonymous"></script>

        <script src="/javascripts/jquery-easing.js" crossorigin="anonymous"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/javascripts/bootstrap.min.js"></script>

        <script src="/javascripts/axios.js"></script>

        <script src="/javascripts/fallr.js"></script>

        <script src="/javascripts/clientJS.js"></script>

        <script src="/javascripts/moment.js"></script>

        <!-- Datatables and DatatalesButtons JavaScript -->
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

        <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>

        <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        
        <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
        
        <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

        <script src="https://cdn.datatables.net/plug-ins/1.10.20/api/fnPagingInfo.js"></script>

        <!-- Custom JavaScript -->
        <script type="text/javascript">
            if (typeof isConfigurePage == "undefined") {
                var isConfigurePage = function (){
                    return true;
                };
            }

            $(document).ready(() => {
                populateSecretCodesConfigTable();
            });
        </script>

        <script src="/javascripts/functions.js"></script>
    </body>
</html>
